<table class="table table-bordered table-condensed table-hover table-sorter">
  <thead>
	<tr>
	  <td rowspan="2" data-sorter="false">Famille de produit</td>
	  <th colspan="2" data-sorter="false">Chiffre d'affaires</th>
	  <th colspan="2" data-sorter="false">Ventes</th>
	  <th colspan="2" data-sorter="false">Marge brute</th>
	</tr>
	<tr>
	  <th>Réel</th>
	  <th>Objectif</th>
	  <th>Réel</th>
	  <th>Budget</th>
	  <th>Réel</th>
	  <th>Budget</th>
	</tr>
  </thead>
  <tbody>
	{% for var in data %}
	<tr>
	  <th>{{ var.lib_famille_produit }}</th>
	  <td data-mnt="{{ var.CA_Reel }}">{{ var.CA_Reel }}</td>
	  <td data-mnt="{{ var.CA_Objectif }}">{{ var.CA_Objectif }}</td>
	  <td data-mnt="{{ var.Ventes_Reel }}">{{ var.Ventes_Reel }}</td>
	  <td data-mnt="{{ var.Ventes_Objectif }}">{{ var.Ventes_Objectif }}</td>
	  <td data-mnt="{{ var.Marge_Reel }}">{{ var.Marge_Reel }}</td>
	  <td data-mnt="{{ var.Marge_Objectif }}">{{ var.Marge_Objectif }}</td>
	</tr>
	{% endfor %}
  </tbody>
  <tfoot>
	<tr>
	  <th>Totaux</th>
	  <td data-mnt="{{ total.1 }}">{{ total.1 }}</td>
	  <td data-mnt="{{ total.2 }}">{{ total.2 }}</td>
	  <td data-mnt="{{ total.3 }}">{{ total.3 }}</td>
	  <td data-mnt="{{ total.4 }}">{{ total.4 }}</td>
	  <td data-mnt="{{ total.5 }}">{{ total.5 }}</td>
	  <td data-mnt="{{ total.6 }}">{{ total.6 }}</td>
	</tr>
  </tfoot>
</table>
