<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Darties report system</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="{{ urlPath }}/css/bootstrap-tour.css" rel="stylesheet">
  <link href="{{ urlPath }}/css/darties.css" rel="stylesheet">

</head>

<body>

  <div id="wrapper">

    <!-- header -->
    <header class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="row">
          <div class="logo col-sm-2">
            <img src="{{ urlPath }}/img/logo_100.png" alt="" />
          </div>
          <div class="col-sm-10 col-bottom">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="main-tabs" role="tablist" style="float:left">
              <li role="presentation" class="active"><a href="#accueil" aria-controls="accueil" role="tab" data-toggle="tab">Accueil</a></li>
              <li role="presentation"><a href="#palmares" aria-controls="palmares" role="tab" data-toggle="tab">Palmarès</a></li>
              <li role="presentation"><a href="#historique" aria-controls="historique" role="tab" data-toggle="tab">Historique</a></li>
              <li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Détails</a></li>
			  {% if user.isAdmin %}
			  <li role="presentation"><a href="#admin" aria-controls="details" role="tab" data-toggle="tab">Administrateur</a></li>
        {% else %}
        <li role="presentation"><a href="#admin" aria-controls="details" role="tab" data-toggle="tab">Utilisateur</a></li>
			  {% endif %}
            </ul>
            <ul class="nav nav-tabs" id="right-tabs" style="float:right">
              <li><a href="#" id="print"><span class="glyphicon glyphicon-print"></span></a></li>
              <li><a href="#" id="send"><span class="glyphicon glyphicon-send"></span></a></li>
              <li><a href="{{ urlPath }}/index.php/logout" id="logout"><span class="glyphicon glyphicon-off"></span></a></li>
			  <li><a href="#" id="help"><span class="glyphicon glyphicon-question-sign"></span></a></li>
            </ul>
          </div>
          <div class="col-sm-8" style="float:left">
            <h3>Tableau de bord <small>{{ user.posteLibelle }}</small></h3>
          </div>
          <div class="col-sm-2" style="float:right">
            <table class="small table table-condensed" id="datemaj">
              <tbody>
                <tr>
                  <th>Date</th>
                  <td>{{ "now"|date("d/m/Y") }}</td>
                </tr>
                <tr>
                  <th>Date MAJ</th>
                  <td>{{ date_maj |date("d/m/Y") }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
		  {% include '/filtres.html' %}
        </div>
        <div class="col-sm-10">
          <div>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="accueil">

                <div class="row">
                  <div class="col-sm-4">
                    <img width="100%" src="{{ urlPath }}/img/departements_de_france_map.svg" id="ajax_accueil_img" alt="" style="border: 1px solid black">
                  </div>
                  <div class="col-sm-8">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title" id="ajax_accueil_tabtitle"></h3>
                      </div>
                      <div class="panel-body panel-table table-responsive" id="ajax_accueil_table">

                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane" id="palmares">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title" id="ajax_palmares_tabtitle"></h3>
                  </div>
                  <div class="panel-body panel-table table-responsive" id="ajax_palmares_table">
                  </div>
                </div>

              </div>

              <div role="tabpanel" class="tab-pane" id="historique">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title" id="ajax_historique_tabtitle"></h3>
                  </div>
                  <div class="panel-body  panel-table table-responsive" id="ajax_historique_table">
                  </div>
                </div>

              </div>

              <div role="tabpanel" class="tab-pane" id="details">

                <div class="row no-print">

                  <div class="col-sm-4" id="ajax_details_ca">
                  </div>

                  <div class="col-sm-4" id="ajax_details_ventes">
                  </div>

                  <div class="col-sm-4" id="ajax_details_marge">
                  </div>

                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title" id="ajax_details_tabtitle"></h3>
                  </div>
                  <div class="panel-body panel-table table-responsive" id="ajax_details_table">
                  </div>
                </div>

              </div>

			  {% if user.isAdmin %}
			  <div role="tabpanel" class="tab-pane" id="admin">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Administrateur</h3>
                  </div>
                  <div class="panel-body panel-table">
                      <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Identifiant</th>
                          <th>Nom</th>
                          <th>Prénom</th>
                          <th>Profil</th>
                          <th>Adresse mail</th>
                          <th>Mot de passe</th>
                          <th>DateMaj_USER</th>
                          <th>Modification</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in data %}
                        <tr>
                          <td  align="left">{{user.id}}</td>
                          <td  align="center">{{user.nom}}</td>
                          <td  align="center">{{user.prenom}}</td>
                          <td  align="center">{{user.lib_profil}}</td>
                          <td  align="center">{{user.mail}}</td>
                          <td  align="center">{{user.password}}</td>
                            <td  align="center">{{user.datemaj_user}}</td>
                          <td>
                            <form action="{{ urlPath }}/" method="post">
                              <div id="{{user.id}}" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <p><h3 style="text-align: center; color: rba(102,205,0);">Mot de passe &amp Libellé profil</h3></p>
                                  <p><input type="text" name="id" placeholder="id" class="form-control" value="{{user.id}}" readonly></p>
                                    <p><input type="password" name="pwd" placeholder="{{user.password}}" class="form-control" ></p>
                                    <p><select class="form-control" name="sel2">
                                    {% if data2 is empty %}
                                          <option disabled selected>Aucun profil disponible</option>
                                    {% else %}
                                          <option></option>
                                          {% for user in data2 %}
                                          <option>{{user.lib_profil}}</option>
                                          {% endfor %}
                                    {% endif %}
                                    </select></p>
                                    <button type="submit" class="btn btn-success center-block">Valider</button>
                                  </div>
                                </div>
                              </div>
                              </div>
                          </form>
                          <p><button type="button" class="btn btn-danger center-block" data-toggle="modal" data-target="#{{user.id}}">Modifier</button></p>
                        </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        {% else %}
        <div role="tabpanel" class="tab-pane" id="admin">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Utilisateur</h3>
                  </div>
                  <div class="panel-body panel-table">
                      <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Identifiant</th>
                          <th>Nom</th>
                          <th>Prénom</th>
                          <th>Profil</th>
                          <th>Adresse mail</th>
                          <th>Mot de passe</th>
                          <th>DateMaj_USER</th>
                          <th>Modification</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in data1 %}
                        <tr>
                          <td  align="left">{{user.id}}</td>
                          <td  align="center">{{user.nom}}</td>
                          <td  align="center">{{user.prenom}}</td>
                          <td  align="center">{{user.lib_profil}}</td>
                          <td  align="center">{{user.mail}}</td>
                          <td  align="center">{{user.password}}</td>
                            <td  align="center">{{user.datemaj_user}}</td>
                          <td>
                            <form action="{{ urlPath }}/" method="post">
                              <div id="{{user.id}}" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <p><h3 style="text-align: center;">Mot de passe &amp Libellé profil</h3></p>
                                    <p><input type="text" name="id" placeholder="id" class="form-control" value="{{user.id}}" readonly></p>
                                    <p><input type="password" name="pwd" placeholder="{{user.password}}" class="form-control" ></p>
                                    <p><select class="form-control" name="sel2">
                                    {% if data2 is empty %}
                                          <option disabled selected>Aucun profil disponible</option>
                                    {% else %}
                                          <option></option>
                                          {% for user in data2 %}
                                          <option>{{user.lib_profil}}</option>
                                          {% endfor %}
                                    {% endif %}
                                    </select></p>
                                    <button type="submit" class="btn btn-success center-block">Valider</button>
                                  </div>

                                </div>
                              </div>
                              </div>
                          </form>
                          <p><button type="button" class="btn btn-danger center-block" data-toggle="modal" data-target="#{{user.id}}">Modifier</button></p>
                        </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
			  {% endif %}
			</div>

          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

  </div>
  <!-- /#wrapper -->

  <div id="ajax-spinner"><img src="{{ urlPath }}/img/ajax-spinner.svg"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="{{ urlPath }}/js/jquery.number.js"></script>
  <script src="{{ urlPath }}/js/jquery.tablesorter.js"></script>
  <script src="{{ urlPath }}/js/jquery.print.js"></script>
  <script src="{{ urlPath }}/js/bootstrap-tour.js"></script>
  <script src="{{ urlPath }}/js/darties.js"></script>

</body>

</html>
