                    <div class="panel panel-{{ color }}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="huge">{{ ind }}</div>
                                </div>
                                <div class="col-sm-8 text-right">
                                    <div class="huge">{{ new }} €</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">vs {{ old }} €</div>
                    </div>