          <table class="table table-bordered table-condensed table-hover table-sorter">
            <thead>
              <tr>
                <td rowspan="3" data-sorter="false">Famille de produit</td>
                <th colspan="6" data-sorter="false">{{ libelle.anneePrec }}</th>
                <th colspan="6" data-sorter="false">{{ libelle.anneeActu }}</th>
              </tr>
              <tr>
                <th colspan="3" data-sorter="false">{{ libelle.indic }}</th>
                <th colspan="3" data-sorter="false">{{ libelle.indic }} cumulé</th>
                <th colspan="3" data-sorter="false">{{ libelle.indic }}</th>
                <th colspan="3" data-sorter="false">{{ libelle.indic }} cumulé</th>
              </tr>
              <tr>
                <th>Réel</th>
                <th>Objectif</th>
                <th>%</th>
                <th>Réel</th>
                <th>Objectif</th>
                <th>%</th>
                <th>Réel</th>
                <th>Objectif</th>
                <th>%</th>
                <th>Réel</th>
                <th>Objectif</th>
                <th>%</th>
              </tr>
            </thead>
  <tbody>
    {% for var in data %}
              <tr>
                <th>{{ var.LIB_FAMILLE_PRODUIT }}</th>
                <td data-mnt="{{ var.SUM_of_VENTES_REEL_prec }}">{{ var.SUM_of_VENTES_REEL_prec }}</td>
                <td data-mnt="{{ var.SUM_of_VENTES_OBJECTIF_prec }}">{{ var.SUM_of_VENTES_OBJECTIF_prec }}</td>
                <td data-op="%">{{ var.Ecart_ventes_prec }}</td>
                <td data-mnt="{{ var.SUM_of_VENTES_REEL_cum2 }}">{{ var.SUM_of_VENTES_REEL_cum2 }}</td>
                <td data-mnt="{{ var.SUM_of_VENTES_OBJECTIF_cum2 }}">{{ var.SUM_of_VENTES_OBJECTIF_cum2 }}</td>
                <td data-op="%">{{ var.Ecart_ventes_cum2 }}</td>
                <td data-mnt="{{ var.SUM_of_VENTES_REEL }}">{{ var.SUM_of_VENTES_REEL }}</td>
                <td data-mnt="{{ var.SUM_of_VENTES_OBJECTIF }}">{{ var.SUM_of_VENTES_OBJECTIF }}</td>
                <td data-op="%">{{ var.Ecart_ventes }}</td>
                <td data-mnt="{{ var.SUM_of_VENTES_REEL_cumul }}">{{ var.SUM_of_VENTES_REEL_cumul }}</td>
                <td data-mnt="{{ var.SUM_of_VENTES_OBJECTIF_cumul }}">{{ var.SUM_of_VENTES_OBJECTIF_cumul }}</td>
                <td data-op="%">{{ var.Ecart_ventes_cumul }}</td>
              </tr>
	{% endfor %}
            </tbody>
</table>
